/* line 5, ../sass/main.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background: #B2BEB5;
  line-height: 1em;
  color: white; }

/* line 13, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 19, ../sass/main.scss */
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent; }

/* line 26, ../sass/main.scss */
#brand_logo {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  /* 50% of your logo width */
  display: block; }

/* line 34, ../sass/main.scss */
#arrow_up {
  font-size: 3em;
  position: absolute;
  left: 50%;
  bottom: 15%;
  display: block; }

/* line 42, ../sass/main.scss */
#header_line {
  color: white;
  position: relative; }

/* line 48, ../sass/main.scss */
#body {
  padding-bottom: 4.5em; }

/* line 52, ../sass/main.scss */
#header_nav {
  line-height: 2em; }
