/* line 5, ../sass/main.scss */
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  background: #040D0c;
  line-height: 1em;
  color: #57eccb; }

/* line 13, ../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 19, ../sass/main.scss */
#header {
  position: relative; }

/* line 23, ../sass/main.scss */
.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent; }

/* line 30, ../sass/main.scss */
#brand_logo {
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  /* 50% of your logo width */
  display: block; }

/* line 38, ../sass/main.scss */
#arrow_up {
  font-size: 3em;
  position: absolute;
  left: 50%;
  bottom: 15%;
  display: block; }

/* line 46, ../sass/main.scss */
#main_body {
  padding-bottom: 4.5em; }

/* line 51, ../sass/main.scss */
#header_nav {
  position: relative;
  line-height: 2em; }
