@import "compass";
@import "partials/variables";
@import "partials/mixins";
@import "compass/css3";
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: $default-dark;
    line-height: 1em;
    color: $default-light;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#header {
    position: relative;
}

.navbar {
    // position: relative;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

#brand_logo {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    /* 50% of your logo width */
    display: block;
}

#arrow_up {
    font-size: 3em;
    position: absolute;
    left: 50%;
    bottom: 15%;
    display: block;
}

#main_body {
    // padding-top: 4.5em;
    padding-bottom: 4.5em;
}

#header_nav {
    position: relative;
    line-height: 2em;
}

// $bgDefault: #fffeff;
// $bgHighlight: #040d0c;
// $colDefault: #57eccb;
// $colHighlight: #dbe7e5;
// $dropDown: true;
// .navbar-light {
//     background-color: $bgDefault;
//     border-color: $bgHighlight;
//     .navbar-brand {
//         color: $colDefault;
//         &:hover,
//         &:focus {
//             color: $colHighlight;
//         }
//     }
//     .navbar-text {
//         color: $colDefault;
//     }
//     .navbar-nav {
//         .nav-item {
//             color: $colDefault;
//             &:hover,
//             &:focus {
//                 color: $colHighlight;
//             }
//             @if $dropDown {
//                 > .dropdown-menu {
//                     background-color: $bgDefault;
//                     > li {
//                         > a {
//                             color: $colDefault;
//                             &:hover,
//                             &:focus {
//                                 color: $colHighlight;
//                                 background-color: $bgHighlight;
//                             }
//                         }
//                         > .divider {
//                             background-color: $bgHighlight;
//                         }
//                     }
//                 }
//             }
//         }
//         @if $dropDown {
//             .open .dropdown-menu > .active {
//                 > a,
//                 > a:hover,
//                 > a:focus {
//                     color: $colHighlight;
//                     background-color: $bgHighlight;
//                 }
//             }
//         }
//         > .active {
//             > a,
//             > a:hover,
//             > a:focus {
//                 color: $colHighlight;
//                 background-color: $bgHighlight;
//             }
//         }
//         > .open {
//             > a,
//             > a:hover,
//             > a:focus {
//                 color: $colHighlight;
//                 background-color: $bgHighlight;
//             }
//         }
//     }
//     .navbar-toggle {
//         border-color: $bgHighlight;
//         &:hover,
//         &:focus {
//             background-color: $bgHighlight;
//         }
//         .icon-bar {
//             background-color: $colDefault;
//         }
//     }
//     .navbar-toggler,
//     .navbar-form {
//         border-color: $colDefault;
//     }
//     .nav-link {
//         color: $colDefault;
//         &:hover {
//             color: $colHighlight;
//         }
//     }
// }
// @media (max-width: 767px) {
//     .navbar-default .navbar-nav .open .dropdown-menu {
//         > li > a {
//             color: $colDefault;
//             &:hover,
//             &:focus {
//                 color: $colHighlight;
//             }
//         }
//         > .active {
//             > a,
//             > a:hover,
//             > a:focus {
//                 color: $colHighlight;
//                 background-color: $bgHighlight;
//             }
//         }
//     }
// }
