@import "compass";
@import "partials/variables";
@import "partials/mixins";
@import "compass/css3";
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: $default-dark;
    line-height: 1em;
    color: $default-light;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navbar {
    // position: relative;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
}

#brand_logo {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;
    /* 50% of your logo width */
    display: block;
}

#arrow_up {
    font-size: 3em;
    position: absolute;
    left: 50%;
    bottom: 15%;
    display: block;
}

#header_line {
    color: $default-light;
    // top: 1em;
    position: relative;
}

#main_body {
    padding-bottom: 4.5em;
}

#header_nav {
    line-height: 2em;
}
